<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/home.css">
    <title>Document</title>
</head>
<body>
    <div class="bg">
        <div class="image-container">
         <img src="image/Portfolio-removebg-preview.png" alt="">
        </div>
        <h1 class="cliff-h1">Welcome to my Portfolio</h1>
        <p>Hi, I'm Antonio Parane</p>
        <h2 class="cliff-h1">Front-End Developer</h2>
    </div>
</body>
</html>
